
#navigate {
    background-color: transparent;
    /*background-color: yellow;*/
    border: transparent;
    /*width:auto;*/
    display: inline-block;
    /*!important;*/
    /*display: inline;*/
    margin-left: auto;
    margin-right: auto;
    /*font-size: 20px;*/
    color: transparent;
}

#navigate_root {
    background-color: transparent;
    /*background-color: darkgrey;*/
    font-size: 20px;
    margin: 10px;
}

/*.navbar-nav.li{*/
/*margin: 20px;*/
/*}*/

/*.navbar-nav.a{*/
/*color: yellow;*/
/*font-size: 50px;*/
/*margin: 20px;*/
/*}*/

/*div*/
#myNavbar {
    /*width: 100%;*/
    text-align: center;
    /*background-color: rgba(255,35,142,0.3);*/
    /*display: flex;*/
    /*justify-content: center;*/
}

/*ul*/
.navbar-nav {
    width: 60%;
    text-align: center;
    /*background-color: rgba(194,237,245,0.18);*/
    margin: 5px;
    /*margin-left: 15%;*/
    margin-left: 20%;
    margin-right: 20%;
}

li {
    /*color: yellow;*/
    width: 16%;
    height: 50px;
    margin: 0 2px;
    /*background-color: yellowgreen;*/
    text-align: center;
    /*padding-top: 10px;*/
    /*background-color: aqua;*/
}

#logo {
    width: 76px;
    height: 48px;
    /*background-color: rebeccapurple;*/
    margin: 0 auto;
}

.nav_btn {
    /*background-color: darkgrey;*/
    width: 100%;
    height: auto;
    /*background-color: transparent;*/
}

#follow {
    height: auto;
    width: 100px;
    /*background-color: yellowgreen;*/
    /*margin: 10px auto;*/
    /*margin-left: 100px;*/
    /*display: inline;*/
    /*float: right;*/

    margin: 10px;
    margin-left: 85%;
    /*width: auto;*/
    position: absolute;
    top: 0;
}

.navbar-nav.a:hover {
    color: yellow;
    /*background-color: transparent;*/
    border: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    text-decoration: none;
    border: transparent;
}

/*公共样式*/
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    position: relative;
}

.container-fluid img {
    width: 100%;
    position: absolute;
    top: 0;
}

/*banner*/
.div_banner {
    width: 100%;
    height: auto;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_shift {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    visibility: hidden;
    background-color: rgba(245, 207, 31, 0.48);
    opacity: 0.7;
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    z-index: 8999;
}

#btn_shift1 {
    position:absolute;
    left:100px;
}

#btn_shift2 {
    position:absolute;
    right:100px;
}

.btn_shift:hover {
    background-color: #efefef;
    opacity: 0.7;
}

.img_banner {
    width: 100%;
    flex: 1;
    cursor: pointer;

    position: absolute;
    top: 0;;
}



/*首页*/
#section1 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*!*height: 500px;*!*/
    /*background: url(../src/image/img_banner1.png) no-repeat center center;*/
    /*background-size: cover;*/

    padding-top: 20%;
    padding-bottom: 20%;
}

/*.div_banner:hover ~ .btn_shift{*/
    /*visibility: visible;*/

/*}*/

/*关于我们*/
#section2 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 500px;*/
    /*background: url(../src/image/img_home_page1.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 40%;
    /*padding-bottom: 20%;*/
}

#section3 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 1000px;*/
    /*background: url(../src/image/img_home_page2.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 80%;
}

#section4 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 1000px;*/
    /*background: url(../src/image/img_home_page3.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 50%;
    padding-bottom: 30%;
}

#section5 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 800px;*/
    /*background: url(../src/image/img_home_page4.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 60%;
}

#section6 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 550px;*/
    /*background: url(../src/image/img_home_page5.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 45%;
}

/*经典案例*/
#section7 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 500px;*/
    /*background: url(../src/image/img_home_page6.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 50%;
}

/*合作伙伴*/
#section8 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 540px;*/
    /*background: url(../src/image/img_home_page7.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 40%;
}

/*联系我们*/
#section9 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 300px;*/
    /*background: url(../src/image/img_home_foot.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 25%;
}

.img_join{
    width: 10% !important;
    top:80% !important;
    left:25%;
    cursor: pointer;
}

/*Dialog*/
/*dialog parent div*/
.dialog_div{position:relative;width:658px;height:390px; left:-100px !important;}
/*dialog close img*/
.dialog_s2{
    position:absolute;
    z-index:100;
    width:50px;
    height:50px;
    margin-left: 92%;
    cursor: pointer;
}
/*dialog main img */
.dialog_s1{ position:absolute;z-index:80;width:100%;height:100%}