
#navigate {
    background-color: transparent;
    border: transparent;
    width: 80%;
    /*width:auto;*/
    display: inline-block;
    /*!important;*/
    /*display: inline;*/
    margin-left: auto;
    margin-right: auto;
    /*font-size: 20px;*/
    color: transparent;
}

#navigate1 {
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
}

/*.navbar-nav.li{*/
/*margin: 20px;*/
/*}*/

/*.navbar-nav.a{*/
/*color: yellow;*/
/*font-size: 50px;*/
/*margin: 20px;*/
/*}*/

#myNavbar {
    /*width: 100%;*/
    text-align: center;
    /*background-color: yellow;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.navbar-nav {
    width: auto;
    /*text-align: center;*/
    /*background-color: darkgrey;*/
    margin: 0 auto;
    margin-left: 15%;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 10px;
}

li {
    /*color: yellow;*/
    width: 100px;
    margin: 10px;
    /*background-color: yellow;*/
    text-align: center;
    /*background-color: aqua;*/
}

.nav_btn {
    /*background-color: darkgrey;*/
    width: 100%;
    color: yellow;
    margin-left: 20%;
}

#follow {
    height: auto;
    width: 90px;
    /*background-color: darkgrey;*/
    margin-top: 20px;
    margin-left: 100px;
}

/*.nav_txt{*/
/*color: aqua;*/
/*font-size: 20px;*/
/*line-height: 60px;*/
/*border: transparent;*/
/*}*/
/*a:link {*/
/*color:white;*/
/*text-decoration:underline;*/
/*}*/
/*a:visited {*/
/*color:#00FF00;*/
/*text-decoration:none;*/
/*}*/
.navbar-nav.a:hover {
    color: yellow;
    /*background-color: transparent;*/
    border: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    text-decoration: none;
    border: transparent;
}

/*公共样式*/
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    position: relative;
}

.container-fluid img {
    width: 100%;
    position: absolute;
    top: 0;;
}

/*首页*/
#section1 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*!*height: 500px;*!*/
    /*background: url(../src/image/img_home.png) no-repeat center center;*/
    /*background-size: cover;*/

    padding-top: 20%;
    padding-bottom: 20%;
}

/*关于我们*/
#section2 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 500px;*/
    /*background: url(../src/image/img_home_page1.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 40%;
    /*padding-bottom: 20%;*/
}

#section3 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 1000px;*/
    /*background: url(../src/image/img_home_page2.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 80%;
}

#section4 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 1000px;*/
    /*background: url(../src/image/img_home_page3.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 50%;
    padding-bottom: 30%;
}

#section5 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 800px;*/
    /*background: url(../src/image/img_home_page4.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 60%;
}

#section6 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 550px;*/
    /*background: url(../src/image/img_home_page5.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 45%;
}

/*经典案例*/
#section7 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 500px;*/
    /*background: url(../src/image/img_home_page6.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 50%;
}

/*合作伙伴*/
#section8 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 540px;*/
    /*background: url(../src/image/img_home_page7.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 40%;
}

/*联系我们*/
#section9 {
    /*padding-top: 50px;*/
    /*width: 100%;*/
    /*height: 300px;*/
    /*background: url(../src/image/img_home_foot.png) no-repeat center center;*/
    /*background-size: 100%;*/

    padding-top: 25%;
}